.App {
  text-align: center;
  background-color: black;
  color: white;
}
 h2 {
  padding: 10px 0;
}
.step1 {
  text-align: left;
  padding: 50px;
  border-bottom: 2px white solid;
}
.step2 {
    text-align: left;
  padding: 50px;

}
.output {
  background-color: gray;
  color: white;
  padding: 30px;
}

button { 
  padding: 5px;
  margin: 5px;
}
button:hover {
  cursor: pointer;
}

table {
  background-color: gray;
}
thead {
  background-color: green;
  color: black;
}
th,
td {
  border: 1px solid black;
  margin: 0px 0px;
  padding: 5px 5px;
}
